.benefits {
  position: relative;
  padding: 160px 0;
  background-color: $gray;
  @media (max-width: $md) {
    padding: 80px 0;
  }
  &__bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  &__bg-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__bg-gradient {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(126.98deg, rgba(244, 240, 237, 0) 23.23%, rgba(244, 240, 237, 0.75) 68.5%);
  }
  &__container {
    @extend %container;
    position: relative;
    z-index: 2;
  }
  &__top {
    margin-bottom: 48px;
  }
  &__title {
    max-width: 638px;
  }
  &__content {
    @extend %grid;
  }
  &__list {
    grid-column: 3 / -1;
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    @media (max-width: $md) {
      grid-column: 2 / -1;
    }
    @media (max-width: $sm) {
      grid-column: 1 / -1;
    }
  }
  &__item {
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }
  &__item-title {
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
  &__desc {
  }
}
