.clients {
  padding: 160px 0;
  background-color: $gray;
  @media (max-width: $md) {
    padding: 80px 0;
  }
  &__container {
    @extend %container;
  }
  &__top {
    display: flex;
    margin-bottom: 77px;
    justify-content: space-between;
    align-items: flex-end;
    @media (max-width: $md) {
      flex-direction: column;
      margin-bottom: 40px;
      align-items: flex-start;
    }
  }
  &__title {
    max-width: 859px;
    margin-right: 20px;
    @media (max-width: $md) {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
  &__buttons {
  }
  &__content {
  }
}
