.contact-form {
  padding: 50px;
  padding-top: 48px;
  border-top: 2px solid $orange;
  display: flex;
  flex-direction: column;
  background-color: $white;
  @media (max-width: $sm) {
    padding: 30px;
    padding-top: 28px;
  }
  &__field {
  }
  &__label {
    width: 100%;
    line-height: 100%;
    margin-bottom: 32px;
  }
  &__label-text {
    font-weight: 600;
    margin-bottom: 8px;
  }
  &__input {
    width: 100%;
    padding: 8px;
    outline: none;
    border: none;
    border-bottom: 2px solid $black;
    font-size: 14px;
    &::placeholder {
      color: #838383;
    }
  }
}
