.footer-links {
  display: flex;
  @media (max-width: $md) {
    justify-content: space-between;
  }
  @media (max-width: $xs) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
  }
  &__group {
    &:not(:last-child) {
      margin-right: 40px;
    }
  }
  &__group-title {
    margin: 0 0 16px 0;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    text-transform: capitalize;
  }
  &__group-title-link {
    text-decoration: none;
    color: $black;
    transition: all 200ms ease;
    &:hover {
      color: $orange;
    }
  }
  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  &__item {
  }
  &__link {
    line-height: 100%;
    text-transform: capitalize;
    display: block;
    text-decoration: none;
    color: $black;
    padding: 8px 0;
    transition: all 200ms ease;
    &:hover {
      color: $orange;
    }
  }
}
