.header {
  position: absolute;
  z-index: 100;
  width: 100%;
  &__container {
    @extend %container;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 80px;
  }
  &__logo-wrapper {
    flex: 0 0 147px;
    padding-top: 6px;
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
  &__logo {
    display: block;
    width: 100%;
    height: auto;
  }
  &__menu-wrapper {
    flex: 1 1 auto;
    display: flex;
    justify-content: end;
    padding-bottom: 4px;
    @media (max-width: $sm) {
      padding-top: 10px;
    }
  }
  &__nav {
    @media (max-width: $sm) {
      position: absolute;
      left: 0;
      top: 0;
      height: 0;
      width: 100%;
      background-color: $white;
      overflow: hidden;
      transition: all 200ms ease;
      &_open {
        padding-top: 80px;
        height: 100vh;
      }
    }
  }
  &__burger-menu {
    display: none;
    @media (max-width: $sm) {
      display: block;
    }
  }
}