.testimonials {
  padding: 160px 0;
  background-color: $gray;
  @media (max-width: $md) {
    padding: 80px 0;
  }
  &__container {
    @extend %container;
    @extend %grid;
    @media (max-width: $md) {
      row-gap: 48px;
    }
  }
  &__text-wrapper {
    grid-column: span 3;
    @media (max-width: $md) {
      grid-column: 1 / -1;
    }
  }
  &__title {
    margin-bottom: 42px;
    max-width: 470px;
    @media (max-width: $md) {
      max-width: none;
    }
  }
  &__desc {
    font-size: 18px;
    max-width: 420px;
    margin: 0;
    @media (max-width: $md) {
      max-width: none;
    }
  }
  &__slider-wrapper {
    grid-column: span 3;
    @media (max-width: $md) {
      grid-column: 2 / -1;
    }
    @media (max-width: $sm) {
      grid-column: 1 / -1;
    }
  }
}