.title {
  margin: 0;
  font-family: Poppins;
  font-weight: 600;
  font-size: 58px;
  line-height: 110%;
  text-transform: capitalize;
  color: $black;
  @media (max-width: $xs) {
    font-size: calc(0.0547 * 100vw + 53px/2);
  }
  @media (max-width: $xxs) {
    font-size: 44px;
  }
  &__accent {
    color: $orange;
  }
}
