.work {
  position: relative;
  overflow: hidden;
  &:hover {
    & .work__bg-image {
      transform: scale(1.2);
    }
  }
  &__bg {
    position: relative;
  }
  &__bg-image {
    transition: all 200ms ease;
    @extend %responsive-image;
  }
  &__bg-gradient {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(21, 27, 37, 0.1) 30.73%, #151B25 99.86%);
  }
  &__content {
    position: absolute;
    left: 24px;
    bottom: 24px;
    z-index: 2;
    color: $white;
  }
  &__customer {
    font-weight: 500;
    font-size: 24px;
    line-height: 122%;
    text-transform: capitalize;
    &:not(:last-child) {
      margin-bottom: 4px;
    }
  }
  &__type {
    text-transform: capitalize;
  }
}