// Vars
$black: #0A2042;
$orange: #F87556;
$white: #FFFFFF;
$gray: #F4F0ED;
$dark-gray: #EAE5E1;

$xxs: 320px;
$xs: 575.98px;
$sm: 767.98px;
$md: 991.98px;
$lg: 1199.98px;
$xl: 1399.98px;
$safe-padding: 15px;

// Container
%container {
  max-width: 1330px;
  padding: 0 $safe-padding;
  margin: 0 auto;
  @media (max-width: $xl) {
    max-width: $lg - 2 * $safe-padding;
  }
  @media (max-width: $lg) {
    max-width: $md - 2 * $safe-padding;
  }
  @media (max-width: $md) {
    max-width: $sm - 2 * $safe-padding;
  }
  @media (max-width: $sm) {
    max-width: $xs - 2 * $safe-padding;
  }
  @media (max-width: $xs) {
    max-width: none;
  }
}

// Grid
%grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 24px;
}

// Responsive image
%responsive-image {
  display: block;
  width: 100%;
  height: auto;
}

// Settings
html, 
body {
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  color: $black;
  line-height: 159%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main {
  flex: 1 1 auto;
}

// Blocks
@import "blocks/nav.scss";
@import "blocks/burger-menu.scss";
@import "blocks/title.scss";
@import "blocks/arrow-link.scss";
@import "blocks/card-offer.scss";
@import "blocks/section-top.scss";
@import "blocks/work.scss";
@import "blocks/v-slider.scss";
@import "blocks/slider-clients.scss";

// Sections
@import "blocks/header.scss";
@import "blocks/tell-story.scss";
@import "blocks/quote.scss";
@import "blocks/offer.scss";
@import "blocks/benefits.scss";
@import "blocks/works.scss";
@import "blocks/testimonials.scss";
@import "blocks/clients.scss";
